*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #232830;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xlg: 20px;
  --logo-width: 150px;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: var(--text-sm);
}

img {
  display: block;
  width: 100%;
}

.page {
  max-width: 100vw;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.position-relative {
  position: relative;
}

.absolute-centered {
  display: grid;
  place-items: center;
}

.inherit-min-height {
  min-height: inherit;
}

/* new-password */

.new-password {
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-auto-rows: min-content;
}

.new-password__logo {
  width: var(--logo-width);
  margin-bottom: 48px;
  justify-self: center;
}

.new-password__title {
  margin-bottom: 12px;
  font-size: var(--text-lg);
}

.new-password__subtitle {
  margin-bottom: 32px;
  font-size: var(--text-md);
}

.new-password__label {
  margin-bottom: 8px;
}

.new-password__input {
  margin-bottom: 12px;
}

.new-password__button {
  margin-top: 12px;
  margin-bottom: 32px;
}

/* padding */

.pt-20 {
  padding-top: 20px;
}

/* label */

.label-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* input */

.input {
  --text-size: var(--text-lg);
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 32px;
  padding: 4px 8px;
}

/* button */

.button {
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-weight: 700;
  height: 52px;
}

.button--green {
  background-color: var(--hospital-green);
}

.button--border-green {
  background-color: var(--white);
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}

/* password-recovering */

.password-recovering {
  display: grid;
  grid-auto-rows: min-content;
}

.password-recovering__logo {
  width: var(--logo-width);
  justify-self: center;
  margin-bottom: 48px;
}

.password-recovering__icon {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-color: var(--text-input-field);
  display: grid;
  place-items: center;
  justify-self: center;
  margin-bottom: 24px;
}

.password-recovering__icon img {
  width: 80px;
}

.password-recovering__title {
  font-size: var(--text-lg);
  margin-bottom: 12px;
}

.password-recovering__subtitle {
  font-size: var(--text-md);
  margin-bottom: 32px;
  max-width: 400px;
}

.password-recovering__resend {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  justify-self: center;
  justify-content: center;
}

.password-recovering__button {
  margin-bottom: 24px;
  max-width: 300px;
  justify-self: center;
}

/* link */

.link {
  color: var(--hospital-green);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* login */

.login {
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-auto-rows: min-content;
}

.login__logo {
  width: var(--logo-width);
  margin-bottom: 48px;
  justify-self: center;
}

.login__label {
  margin-bottom: 8px;
}

.login__forgot-password {
  justify-self: center;
  margin: 12px 0;
}

.login__button-login {
  margin-top: 24px;
}

.login__button-sign-up {
  margin-top: 40px;
  position: absolute;
  bottom: 12px;
}

/* create-account */

.create-account {
  display: grid;
  width: 100%;
  max-width: 500px;
  grid-auto-rows: min-content;
}

.create-account__logo {
  width: var(--logo-width);
  justify-self: center;
}

.create-account__label {
  margin-bottom: 20px;
}

.create-account__button-create-account {
  position: absolute;
  bottom: 12px;
}

/* edit-account */

.edit-account {
  display: grid;
  width: 100%;
  max-width: 500px;
  grid-auto-rows: min-content;
}

.edit-account__title {
  margin-bottom: 20px;
}

.edit-account__label {
  margin-bottom: 12px;
}

.edit-account__input {
  width: 100%;
}

.edit-account__value {
  height: 32px;
}

.edit-account__button {
  margin-top: 20px;
  position: absolute;
  bottom: 12px;
}

/* main-section */

.cards-container {
  display: grid;
  gap: 4px;
  place-content: center;
  grid-template-columns: repeat(auto-fill, 1fr);
}

.product-card {
  display: flex;
  flex-direction: column;
}

.product-card__image {
  border-radius: 20px;
  object-fit: cover;
}

.product-card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.product-card__action {
  width: 35px;
  height: 35px;
}

.product-card__price {
  font-weight: 700;
  font-size: var(--text-md);
}

.product-card__product-name {
  font-weight: 400;
  font-size: var(--text-sm);
}

/* desktop menu*/

.dropdown {
  width: 120px;
  height: min-content;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px;
}

.dropdown__menu {
  list-style: none;
}

.dropdown__item {
  text-align: right;
  margin-bottom: 8px;
}

.dropdown__link {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
  display: inline-block;
}

.dropdown__link--green {
  color: var(--hospital-green);
}

.dropdown__item--border-top {
  border-top: 1px solid var(--very-light-pink);
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.mobile-menu__item {
  margin-bottom: 20px;
  font-size: var(--text-md);
}

.mobile-menu__item--light {
  font-weight: 400;
}

.mobile-menu__item--font-size-sm {
  font-size: var(--text-sm);
}

.mobile-menu__item--green {
  color: var(--hospital-green);
  font-weight: 700;
}

.mobile-menu__menu {
  list-style: none;
}

.mobile-menu__menu--underlining {
  border-bottom: 1px solid var(--very-light-pink);
  margin-bottom: 20px;
}

.mobile-menu__link {
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
  display: block;
}

.mobile-menu__category-title {
  margin-bottom: 24px;
}

/* text */

.text--size--sm {
  font-size: var(--text-sm);
}

.text--size--md {
  font-size: var(--text-md);
}

.text--size--lg {
  font-size: var(--text-lg);
}

.text--size--xlg {
  font-size: var(--text-xlg);
}

.text--weight--700 {
  font-weight: 700;
}

.text--weight--400 {
  font-weight: 400;
}

.text--weight--500 {
  font-weight: 400;
}

.text--color--very-light-pink {
  color: var(--very-light-pink);
}

.text--color--dark {
  color: var(--dark);
}

.text--centered {
  text-align: center;
}

/* my order */

.my-order {
  width: 100%;
  max-width: 300px;
}

.my-order__title {
  font-size: var(--text-lg);
  margin-bottom: 40px;
  margin-top: 12px;
}

.my-order__summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: var(--text-input-field);
  padding: 12px 24px;
  margin-bottom: 24px;
}

.my-order__summary-info {
  display: flex;
  flex-direction: column;
}

.my-order__date {
  font-size: var(--text-md);
  font-weight: 700;
}

.my-order__quantity {
  font-size: var(--text-sm);
  color: var(--very-light-pink);
}

.my-order__total-price {
  font-weight: bold;
}

.my-order__item-container {
  display: grid;
  grid-auto-rows: min-content;
  gap: 24px;
}

.my-order__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-order__item-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 20px;
}

.my-order__item-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.my-order__item-title {
  color: var(--very-light-pink);
}

.my-order__item-price {
  font-weight: 700;
  font-size: var(--text-md);
}

/* my orders */

.my-orders {
  width: 100%;
  max-width: 300px;
}

.my-orders__title {
  font-size: var(--text-lg);
  margin-bottom: 40px;
  margin-top: 12px;
}

.my-orders__item-container {
  display: grid;
  grid-auto-rows: min-content;
  gap: 12px;
}

.my-orders__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-orders__item-info {
  display: flex;
  flex-direction: column;
}

.my-orders__item-right {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
}

.my-orders__item-date {
  font-weight: 700;
  font-size: var(--text-md);
}

.my-orders__item-quantity {
  color: var(--very-light-pink);
  font-size: var(--text-sm);
}

.my-orders__item-price {
  font-weight: 700;
}

/* media queries */

@media screen and (min-width: 500px) {
  .login__button-sign-up,
  .create-account__button-create-account,
  .edit-account__button {
    position: initial;
  }

  .container--edit-account {
    display: grid;
    place-items: center;
  }
}

@media screen and (orientation: landscape) {
  .login__button-sign-up,
  .create-account__button-create-account,
  .edit-account__button {
    position: initial;
  }
}

@media screen and (max-height: 450px) {
  .login__button-sign-up,
  .create-account__button-create-account,
  .edit-account__button {
    position: initial;
  }
}

@media screen and (min-width: 480px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}

@media screen and (min-width: 640px) {
  body {
    font-size: var(--text-md);
  }

  .new-password__logo,
  .login__logo,
  .password-recovering__logo,
  .create-account__logo {
    display: none;
  }

  .new-password__title {
    font-size: var(--text-xlg);
  }

  .new-password__subtitle {
    font-size: var(--text-lg);
  }

  .password-recovering__title {
    font-size: var(--text-xlg);
  }

  .password-recovering__subtitle {
    font-size: var(--text-lg);
  }

  .cards-container {
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 12px;
  }
}
